.chat-input {
  display: flex;
  padding: 20px;
  position: relative;

  &__smile-btn {
    margin-right: 15px;

    span.anticon {
      margin-top: 11px;
    }
  }

  .ant-btn-circle {
    border: 0;
    box-shadow: none;
    color: #202020 !important;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }

    &:after {
      display: none;
    }
  }

  span.anticon {
    cursor: pointer;
    font-size: 20px;
  }

  &__actions {
    display: flex;
    align-items: center;
    width: 70px;
    justify-content: space-between;
    margin-left: 15px;
  }

  input {
    &:focus {
      box-shadow: none;
    }
  }
}
