.chat-input {
  display: flex;
  padding: 20px;
  position: relative;

  &__smile-btn {
    margin-right: 15px;

    span.anticon {
      margin-top: 11px;
    }
  }

  span.anticon {
    cursor: pointer;
    font-size: 20px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    width: 110px;
    justify-content: space-between;
    margin-left: 20px;
  }

  input {
    &:focus {
      box-shadow: none;
    }
  }
}
